NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_OLA_MAPS_API_KEY=hAp8tw6bYl9XBPRuumaAvIom9VHDAwMKCfPtbgx6
CLERK_SECRET_KEY=replace-with-clerk-secret
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sevasync
VOLUNTEER_VERIFICATION_API_KEY=replace-with-verification-key
TWILIO_ACCOUNT_SID=replace-with-twilio-sid
TWILIO_AUTH_TOKEN=replace-with-twilio-token
